Assignment 01

Name - Gunjan Kothari

Roll no.: 9145

Lists

A list is a collection which is ordered and changeable. In Python lists are written in squared brackets

In [2]:
# Create 2 listes
# A is list of Name and basic details
A = ['Gunjan','20','Khopoli']
# List of college details
B = ['T.Y.BSc','Statistics','9145','Tilak Road']

Performing various methods

In [3]:
# 1)  append() - Adds an element at th end of the list
print(A)
A.append("Male")
print(A)

['Gunjan', '20', 'Khopoli']
['Gunjan', '20', 'Khopoli', 'Male']

In [4]:
# 2) copy() : Copies all the elements from the list
A1 = A.copy()
print(A)

['Gunjan', '20', 'Khopoli', 'Male']

In [5]:
# 3) clear() : Removes all the elements from the list
A1.clear()
print(A1)

[]

In [6]:
# 4) count() : Returns the number of elements with the specified value
A.append('20')
print(A)
x = A.count('20')
print(x)

['Gunjan', '20', 'Khopoli', 'Male', '20']
2

In [7]:
# 5) del : Delete list
print(A1)
del A1
print(A1)

[]

NameError: name 'A1' is not defined

In [8]:
# 6) extend() : Add the elements of the list (or any iterable), to the end of the current list
A.extend(B)
print(A)

['Gunjan', '20', 'Khopoli', 'Male', '20', 'T.Y.BSc', 'Statistics', '9145', 'Tilak Road']

In [9]:
# 7) insert() : Adds an elemnt at the specified position
A.insert(2,'15 Km')
print(A)

['Gunjan', '20', '15 Km', 'Khopoli', 'Male', '20', 'T.Y.BSc', 'Statistics', '9145', 'Tilak Road']

In [10]:
# 8) len() : Length of list
print(len(A))

10

In [11]:
# 9) list() : Create list from inputs
C = list(('A','B','C'))
print(C)

['A', 'B', 'C']

In [12]:
# 10) pop() : Removes the element at the specified position'
A.pop(2)
print(A)

['Gunjan', '20', 'Khopoli', 'Male', '20', 'T.Y.BSc', 'Statistics', '9145', 'Tilak Road']

In [13]:
# 11) remove() : Removes the item with the specified value
A.remove('20')
print(A)
# Removes the 1st same element it matches

['Gunjan', 'Khopoli', 'Male', '20', 'T.Y.BSc', 'Statistics', '9145', 'Tilak Road']

In [14]:
# 12) reverse() : Reverses the order of the list
A.reverse()
print(A)

['Tilak Road', '9145', 'Statistics', 'T.Y.BSc', '20', 'Male', 'Khopoli', 'Gunjan']

In [15]:
# 13) sort() : Sorts the list
A.sort()
print(A)

['20', '9145', 'Gunjan', 'Khopoli', 'Male', 'Statistics', 'T.Y.BSc', 'Tilak Road']

Tuples

A Tuple is a collection which is ordered and unchangeable

In Python Tuples are wrtten with round brackets.

The key difference between the tuples and lists is that while the tuplesare immutable objects the lists are mutable

this means that tuples cannot be changed while the lists can be modified .
Tuples are more memory efficient than the lists

In [17]:
# Create 2 tuples
# A is tuple of Name and basic details
A = ('Gunjan','20','Khopoli')
# B is tuple of college details
B = ('T.Y.BSc','Statistics','9145','Tilak Road')

Performing various methods

In [18]:
#1) tuple() : Create tuple with specified elements
t = tuple((1,2,3,4,5,6,7))
print(t)

(1, 2, 3, 4, 5, 6, 7)

In [19]:
#2) len() : gives length of tuple, no. of elements
len(A)

3

In [20]:
#3) t1 + t2 : Adds two tuple
C = A + B
print(C)

('Gunjan', '20', 'Khopoli', 'T.Y.BSc', 'Statistics', '9145', 'Tilak Road')

In [21]:
#4) del : Delete tuple
del t
print(t)

NameError: name 't' is not defined

In [22]:
# 5) count() : counts the number of times a specified value occures in a tuple
C1 = ('20',)
C = C + C1
print(C)
C.count('20')

('Gunjan', '20', 'Khopoli', 'T.Y.BSc', 'Statistics', '9145', 'Tilak Road', '20')

2

In [23]:
# 6) index() : Searches the tuple for a specified value and returns the position where it was found
A.index('20')

1